extends layout

block content

  h1= title

  p Welcome to #{title}
  p Math.acosh() is applied to #{value1} is #{cosT}
  p Math.log1p() is applied to #{value2} is #{logger}
  p Math.tan() is applied to #{value3} is #{tn}
  p Math.sqrt() is applied to #{value4} is #{sqr}